*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

.hamburger {
  padding: 16px 0;
  background-color: transparent;
  border: none;
  line-height: 0;
}

.hamburger-icon {
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile.is-open {
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-left: 16px;
  height: 100%;
  background-color: #fff;
  position: relative;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin-left: 0;
  margin-bottom: 168px;
}

.mobile-list-item {
  margin-left: 0;
}

.mobile-list-item-link {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-list {
  margin-left: 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-list-item {
  margin-left: 0;
}

.mobile-contacts-link {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #4d5ae5;
}

.mobile-social {
  margin-left: 0;
}

.mobile-social.social-list {
  justify-content: flex-start;
  gap: 40px;
}

.container {
  min-width: 320px;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }
}

.colored {
  color: #2e2f42;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
}

.nav-list {
  display: inline-flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-item {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list-item {
    display: block;
  }
}

.nav-list-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:first-of-type .nav-list-item-link {
  color: #404bbf;
}

.nav-list-item-link::after {
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #404bbf;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  visibility: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover::after,
.nav-list-item-link:focus::after {
  visibility: visible;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus,
.mobile-list-item-link:hover,
.mobile-list-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-right: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .address {
    display: block;
  }
}

.address-list {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1157px) {
  .address-list {
    flex-direction: column;
    padding: 16px 0;
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    padding: 24px 0;
  }
  .address-list-item:first-child {
    margin-right: 40px;
  }
}

.contacts-link {
  color: #434455;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.preinfo {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 96px 0;
  max-width: 1440px;
}

@media screen and (min-width: 768px) {
  .preinfo {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet-1x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .preinfo {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop-1x.jpg);
  }
}

@media (min-resolution: 192dpi) {
  .preinfo {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile@2x.jpg);
  }
}

@media (min-resolution: 192dpi) {
  .preinfo {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}

@media (min-resolution: 192dpi) {
  .preinfo {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop@2x.jpg);
  }
}

.preinfo-title {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 72px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .preinfo-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .preinfo-title {
    margin-bottom: 48px;
  }
}

.preinfo-button {
  display: block;
  min-width: 169px;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.preinfo-button:hover,
.preinfo-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 24px;
}

@media screen and (min-width: 768px) {
  .about-list {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .about-list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.about-list-item {
  width: 288px;
}

@media screen and (min-width: 768px) {
  .about-list-item {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .about-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .about-list-item:last-child {
    margin-right: 0;
  }
}

.about-list-item-box-wrap {
  display: none;
}

@media screen and (min-width: 1158px) {
  .about-list-item-box-wrap {
    display: block;
  }
}

.about-list-item-box {
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list-item-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .about-list-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .about-list-item-title {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.about-list-item-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    width: 552px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    width: 1128px;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-list-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .team-list-item:last-child {
    margin-right: 0;
  }
}

.team-list-item-content {
  padding: 32px 0;
}

.team-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.team-list-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    width: 736px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    width: 1128px;
    gap: 24px;
  }
}

.portfolio-list-item-photo {
  position: relative;
  overflow: hidden;
}

.portfolio-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  margin-top: 1px;
}

.portfolio-list-item:hover .portfolio-list-item-photo .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-list-item {
  background-color: #fff;
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .portfolio-list-item:nth-child(3),
  .portfolio-list-item:last-child {
    margin-right: 0;
  }

  .portfolio-list-item:first-child,
  .portfolio-list-item:nth-child(4) {
    margin-left: 0;
  }

  .portfolio-list-item:first-child,
  .portfolio-list-item:nth-child(2),
  .portfolio-list-item:nth-child(3) {
    margin-bottom: 48px;
  }
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-list-item-content {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.portfolio-list-item-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-left: 0;
  margin-bottom: 8px;
}

.portfolio-list-item-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-left: 0;
}

.footer {
  background-color: #2e2f42;
  padding-top: 98px;
  padding-bottom: 98px;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-content {
    width: 264px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-content {
    margin-left: 0;
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer .logo-link {
  display: inline-block;
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .footer .logo-link {
    margin-left: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer .logo-link {
    margin-bottom: 16px;
  }
}
.footer .colored {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-left: 0;
}

.footer-social {
  width: 208px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social {
    margin-right: 80px;
  }
}
.footer-social-text {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-social-text {
    text-align: left;
  }
}

.footer .social-list {
  gap: 16px;
}

.footer .social-list .social-list-item-link:hover,
.footer .social-list .social-list-item-link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-form-wrap {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-wrap {
    margin-left: 0;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form {
    align-items: flex-end;
    gap: 24px;
  }
}

.footer-form-text {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-form-text {
    text-align: left;
  }
}

.footer-form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form-label {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-label {
    margin-right: 0;
  }
}

.footer-form-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

.footer-form-input::placeholder {
  color: #fff;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}

.footer-form-icon {
  margin-left: 16px;
  fill: #fff;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list .social-list-item-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-list-item-link:hover,
.social-list .social-list-item-link:focus {
  background-color: #404bbf;
}

.social-list .social-list-item-icon {
  fill: #f4f4fd;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: 623px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 408px;
    min-height: 584px;
  }
}

.modal-close,
.mobile-close {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus,
.mobile-close:hover,
.mobile-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon,
.mobile-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon,
.mobile-close:hover .mobile-icon,
.mobile-close:focus .mobile-icon {
  fill: #ffffff;
}

.form-title {
  color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-wrapper:not(:last-child) {
  margin-bottom: 8px;
}

.form-wrapper:nth-child(4) {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  color: #8e8f99;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}

.form-input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  flex-shrink: 0;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-check-wrapper {
  margin-bottom: 24px;
}

.form-label-checkbox {
  color: #8e8f99;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-label-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-checkbox:checked + .form-label-checkbox .form-label-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-input-checkbox:focus + .form-label-checkbox .form-label-box {
  border-color: #404bbf;
}

.form-label-link {
  text-decoration: underline;
  color: #4d5ae5;
  margin-left: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-link:hover,
.form-label-link:focus {
  color: #404bbf;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}
